[ui]
aesShowDistDisconnections = 0
LoadCtrlLibs = "fwAlarmHandling/fwAlarmHandling.ctl"
LoadCtrlLibs = "fwAlarmHandling/fwAlarmHandlingScreen.ctl"
LoadCtrlLibs = "fwAlarmHandling/fwAlarmHandlingScreenGroups.ctl"

[ctrl]
LoadCtrlLibs = "fwAlarmHandling/fwAlarmHandling.ctl"
LoadCtrlLibs = "fwAlarmHandling/fwAlarmHandlingScreen.ctl"
LoadCtrlLibs = "fwAlarmHandling/fwAlarmHandlingScreenGroups.ctl"
