[event]
LoadCtrlLibs = "fwFsmEvent.ctl"

[ctrl]
LoadCtrlLibs = "fwFsm"
LoadCtrlLibs = "fwCU"
LoadCtrlLibs = "fwDU"
LoadCtrlLibs = "fwUi"
LoadCtrlLibs = "fwTree.ctl"
LoadCtrlLibs = "fwFsmUtil.ctl"
LoadCtrlLibs = "fwTreeDisplay.ctl"
LoadCtrlLibs = "fwFsmTreeDisplay.ctl"
LoadCtrlLibs = "fwFsmUi.ctl"

#[ctrl_50]
#distributed = 0

[ui]
LoadCtrlLibs = "fwFsm"
LoadCtrlLibs = "fwCU"
LoadCtrlLibs = "fwDU"
LoadCtrlLibs = "fwUi"
LoadCtrlLibs = "fwTree.ctl"
LoadCtrlLibs = "fwFsmUtil.ctl"
LoadCtrlLibs = "fwTreeDisplay.ctl"
LoadCtrlLibs = "fwFsmTreeDisplay.ctl"
LoadCtrlLibs = "fwFsmUi.ctl"

