[ui]
#PVSS ADO library
CtrlDLL = "CtrlRDBAccess"

#Configuration Database Tool specific libraries
LoadCtrlLibs = "fwConfigurationDB/fwConfigurationDB.ctl"
LoadCtrlLibs = "fwConfigurationDB/fwConfigurationDB_Utils.ctl"
LoadCtrlLibs = "fwConfigurationDB/fwConfigurationDB_Setup.ctl"
LoadCtrlLibs = "fwConfigurationDB/fwConfigurationDB_DBAccess.ctl"
LoadCtrlLibs = "fwConfigurationDB/fwConfigurationDB_Recipes.ctl"
LoadCtrlLibs = "fwConfigurationDB/fwConfigurationDB_Hierarchies.ctl"
LoadCtrlLibs = "fwConfigurationDB/fwConfigurationDB_DeviceConfiguration.ctl"
LoadCtrlLibs = "fwConfigurationDB/fwConfigurationDB_Deprecated.ctl"
[ctrl]
#PVSS ADO library
CtrlDLL = "CtrlRDBAccess"

#Configuration Database Tool specific libraries
LoadCtrlLibs = "fwConfigurationDB/fwConfigurationDB.ctl"
LoadCtrlLibs = "fwConfigurationDB/fwConfigurationDB_Utils.ctl"
LoadCtrlLibs = "fwConfigurationDB/fwConfigurationDB_Setup.ctl"
LoadCtrlLibs = "fwConfigurationDB/fwConfigurationDB_DBAccess.ctl"
LoadCtrlLibs = "fwConfigurationDB/fwConfigurationDB_Recipes.ctl"
LoadCtrlLibs = "fwConfigurationDB/fwConfigurationDB_Hierarchies.ctl"
LoadCtrlLibs = "fwConfigurationDB/fwConfigurationDB_DeviceConfiguration.ctl"
LoadCtrlLibs = "fwConfigurationDB/fwConfigurationDB_Deprecated.ctl"
