

span.button {
    background-color : #CCCCCC;
    border-bottom-style : outset;
    border-left-style : outset;
    border-right-style : outset;
    border-top-style : outset;
    font-family : Helvetica;
    font-size : medium;
    line-height : 32px;
  }


span.selbutton {
    background-color : #ADADAD;
    border-bottom-style : inset;
    border-left-style : inset;
    border-right-style : inset;
    border-top-style : inset;
    font-family : Helvetica;
    font-size : medium;
    line-height : 32px;
  }


span.caption {
    font-style : italic;
  }


div.figure {
    border-bottom-style : inset;
    border-left-style : inset;
    border-right-style : inset;
    border-top-style : inset;
    margin-bottom : 24px;
    margin-left : 36px;
    margin-right : 36px;
    margin-top : 24px;
  }


img.button {
    background-color : #CCCCCC;
    border-bottom-style : outset;
    border-left-style : outset;
    border-right-style : outset;
    border-top-style : outset;
    line-height : 32px;
  }


dd {
    padding-bottom : 20px;
  }

